# Maven
target/

# Arquivos compilados Java
*.class

# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs gerados localmente
*.log

# Arquivos temporários
*.tmp
*.temp

# Arquivos de backup
*~
*.bak